# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Optional eslint cache
.eslintcache

# Build artifacts
dist
.webpack
*.tgz

# Test output
reports

# Code editors/IDEs
.idea
*.iml
.vscode
